.main{font-family:"楷体";width:1070px;}

.slogon{color:#000000;font-size:30px;text-align:center;line-height:100px;}

.block{width:480px;height:280px;margin-left:55px;}

.subtitle{font-size:25px;color:#000000;}
.solid_delimiter{border-bottom:#d1b188 solid 2px;height:1px;width:402px;margin:10px 0;}
.content{text-indent:2em;font-size:19px;width:430px;}
.noindent{text-indent:0;}