.main{margin:0 auto 150px;min-height:360px;}

.news_title{text-align:center;margin:50px 0 10px;}
.news_time{display:block;text-align:center;margin-bottom:10px;}
.news_content {font-size: 16px;padding: 15px 0;width: 807px;}